{% extends "base.html"%}

{% block head_title %} 
    {{ title }} | {{ block.super }} 
{% endblock head_title %}

{% block content %}
    <div class="col-sm-12 text-left">

    {% if user.is_authenticated %}
        <a href="{% url 'clients:create' %}" class="btn btn-success" role="button">Add a new client</a>    
    {% endif %}

        <a href="{% url 'clients:poll' %}" class="btn btn-primary" role="button">Go to poll</a>    
    </div>
    <div class="col-sm-12 text-right">
        
        
        {% if report_path %}
            <a href="{{ report_path }}" >Download report.xlsx</a>
        {% else %}
            <a href="{% url 'clients:download_report' %}" class="btn btn-primary" role="button">Export to Excel</a>
        {% endif %}
        
    </div>
    <form method="GET" action="">
        <input type="text" name="qfirstname" placeholder="Filter by Name" value="{{ request.GET.qfirstname }}"></input>
        <input type="text" name="qsecondname" placeholder="Filter by Second Name" value="{{ request.GET.qsecondname }}"></input>
        <input type="submit" value="Filter" class="btn btn-primary"></input>
    </form>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th><a href="?qfirstname={{ request.GET.qfirstname }}&qsecondname={{ request.GET.qsecondname }}&o=first_name">First name</a></th>
                <th><a href="?qfirstname={{ request.GET.qfirstname }}&qsecondname={{ request.GET.qsecondname }}&o=second_name">Second name</a></th>
                <th><a href="?qfirstname={{ request.GET.qfirstname }}&qsecondname={{ request.GET.qsecondname }}&o=age">Age</a></th>
                <th><a href="?qfirstname={{ request.GET.qfirstname }}&qsecondname={{ request.GET.qsecondname }}&o=birth_date">Birthdate</a></th>
                <th></th>
            </tr>    
        </thead>
        <tbody>

    {% for rec in record_list %}
            <tr>
                <td><a href="{{ rec.get_absolute_url }}" class="btn btn-primary" role="button">View</a> &nbsp{{ rec.first_name }}</td>
                <td>{{ rec.second_name }}</td>
                <td>{{ rec.age }}</td>
                <td>{{ rec.birth_date | date:"d.m.Y"}}</td>
                <td>
                    {% if user.is_authenticated %}
                        <a href="{% url 'clients:delete' id=rec.id %}" class="btn btn-danger" role="button">Delete</a>
                        <a href="{% url 'clients:update' id=rec.id %}" class="btn btn-success" role="button">Edit</a>    
                    {% endif %}
                    
                </td>
            </tr> 
    {% empty %}   
        <tr><td colspan="4"><p>Sorry, no records found.</p></td></tr>
    {% endfor %}                
    
        </tbody>
    </table>
    
{% endblock content %}