{% extends "base.html"%}

{% block head_title %} 
    {{ title }} | {{ block.super }} 
{% endblock head_title %}

{% block content %}
    <div class="col-sm-12 text-center">
        <a href="{%url 'clients:list' %}" class="btn btn-warning">Back to the list</a>
    </div>

    {% for rec in record_list %}
    
        <div class="row">
            <div class="col-lg-2 col-sm-6">
                {% if rec.photo %}
                   <img src="{{ rec.photo.url }}" class="img-responsive img-thumbnail">
                {% endif %}
            </div>
            <div>
                <p> {{ rec }} </p>
            </div>
            <div>
                <a href="{{ rec.get_absolute_url }}" class="btn btn-primary" role="button">View</a>
                {% if rec.likes >= 10 %}
                    <a href="" class="btn btn-small btn-primary disabled" role="button">+1</a>
                {% else %}
                    <a href="{% url 'clients:vote_for_client_poll' id=rec.id %}" class="btn btn-small btn-primary" role="button">+1</a>    
                {% endif %}
                
                <b id="like_count">{{ rec.likes }}</b> likes
            </div>
        </div>

    {% empty %}   

        <div><p> Sorry, no records found.</p></div>

    {% endfor %}                
    
    <div class="col-sm-12 text-center">
        <a href="{%url 'clients:list' %}" class="btn btn-warning">Back to the list</a>
    </div>
    
{% endblock content %}