{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block head_title %} CRUD {% endblock head_title %}
    </title>

    <!-- Boostrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">    

    <!-- app css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>  
    
</head>
<body>
    
    <dir class="baseheader">
        Clients (header) | To log in - user:qwerty123456
    </dir>
    
    <div class="col-sm-8 col-sm-offset-2">
        {% include "messages_display.html" %}    
    </div>

    
    
    <div class="container">
        {% block content %} {% endblock content %}
        
        
    </div>
    
    <dir class="basefooter">
        CRUD python test application
    </dir>
        
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>