 {% if messages %}
    <div class="messages">
        <ul class="messages">
            {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                {% if "html_safe" in message.tags %}
                    {{ message|safe }}
                {% else %}
                   {{ message }}
                {% endif %}
            </div>
            {% endfor %}
        </ul>
    </div>
{% endif %}